<h2>Hör-Reise durch den SpieleDschungel</h2>
<span class="end-hint">(Zum Beenden bitte Tab schließen)</span>

<p>Höre dir die Geschichte Kapitel für Kapitel an.</p>

<div class="audio-story">
  <div class="title">
    <span class="currentChapter">{{ currentChapterIdx + 1 }}.</span>
    <span>{{ currentTitle }}</span>
  </div>

  <audio #journeyAudioPlayer controls (ended)="onChapterEnded()"></audio>

  <div class="chapters">
    @for (chapter of chapters; track chapter.file; let i = $index) {
      <button type="button" [class.active]="i === currentChapterIdx" (click)="playChapter(i)">
        {{ i + 1 }} – {{ chapter.title }}
      </button>
    }
  </div>
</div>

<!-- 

<div class="audio-story">

  <h1>Ein typischer Tag bei der Kindertagespflege</h1>

  <p>
    Höre dir die Geschichte Kapitel für Kapitel an.
  </p>

  <audio
    #audioPlayer
    controls
    (ended)="onChapterEnded()">
  </audio>

  <div class="chapters">

    <button
      *ngFor="let chapter of chapters; let i = index"
      type="button"
      [class.active]="i === currentChapter"
      (click)="playChapter(i)">

      <span>{{ i + 1 }}</span>
      <span>{{ chapter.title }}</span>

    </button>

  </div>

</div> -->
