<div class="welcome-content">
        <app-book-flip></app-book-flip>
    <div class="welcome-intro-container">
        <div class="welcome-hero-image"></div>
        <div class="welcome-textbox">
            <div class="welcome-text">
                <h1>HERZLICH WILLKOMMEN</h1>

                Liebe Eltern,
                <br>
                Sind Sie auf der Suche nach einer liebevollen und qualifizierten Betreuung für Ihren Liebling?
                <br>
                Einer individuellen Betreuung fernab der großen Kindergartengruppen?
                <br>
                Damit Sie sich mit einem gutem Gewissen und einem gutem Gefühl Ihren täglichen Aufgaben widmen können,
                möchten Sie gerne Ihren Liebling an einem Ort betreuen lassen wo er/sie:
                <br>
                gut aufgehoben ist
                <br>
                sich wohlfühlt
                spielen, toben, basteln und entdecken kann
                je nach Wetterlage täglich an die frische Luft kommt
                liebevoll von qualifizierten Fachkräften in familienähnlicher Form betreut wird
                „Freunde“ im fast gleichen Alter hat
                individuell gefördert wird
                täglich abwechslungsreiche, kindgerechte und frische Mahlzeiten bekommt
                u.v.a.m.
                <br>
                Dann könnte „Maries Spieledschungel“ genau der Richtige Ort für Ihren Liebling sein!
                <br>
                Wir wünschen Ihnen viel Spaß auf unserer Webseite.
                <br>
                Wir freuen uns Sie und Ihren Liebling kennenzulernen.
                <br>
                Ihre Marie Christine

                Bearbeiten
                Liebe Eltern,

                Sind Sie auf der Suche nach einer liebevollen und qualifizierten Betreuung für Ihren Liebling?

                Einer individuellen Betreuung fernab der großen Kindergartengruppen?

                Damit Sie sich mit einem gutem Gewissen und einem gutem Gefühl Ihren täglichen Aufgaben widmen können,
                möchten Sie gerne Ihren Liebling an einem Ort betreuen lassen wo er/sie:

                gut aufgehoben ist

                sich wohlfühlt
                spielen, toben, basteln und entdecken kann
                je nach Wetterlage täglich an die frische Luft kommt
                liebevoll von qualifizierten Fachkräften in familienähnlicher Form betreut wird
                „Freunde“ im fast gleichen Alter hat
                individuell gefördert wird
                täglich abwechslungsreiche, kindgerechte und frische Mahlzeiten bekommt
                u.v.a.m.

                Dann könnte „Maries Spieledschungel“ genau der Richtige Ort für Ihren Liebling sein!

                Wir wünschen Ihnen viel Spaß auf unserer Webseite.

                Wir freuen uns Sie und Ihren Liebling kennenzulernen.

                Ihre Marie Christine


                Bearbeiten
            </div>

        </div>
    </div>

</div>