<section class="hero">
        <div class="logo img-container">
          <img
            class="opened-eyes"
            src="/assets/logo/logo-v1.png"
            alt="spieledschungel-logo-panda-open-eyes"
            #mainLogo
          />
          <img
            class="closed-eyes"
            src="/assets/logo/logo-v1-ec.png"
            alt="spieledschungel-logo-panda-eyes-closed"
          />
        </div>
        <div class="short-info outline">
          <p>Warum zu mir?</p>

          <p class="bindung-und-zeit">
            Echte Bindung und Zeit<br />
            sind der Grundbaustein im SpieleDschungel
          </p>

          <p>– finanziell genauso gefördert wie ein Kita-Platz –</p>

          <p>(Max. 5 Kinder | Persönliche Bindung | Staatlich anerkannt)</p>
        </div>
        <div class="contact-data">
          <a href="https://wa.me/4915233527042" target="_blank" class="click-me-btn phone">
            <img
              class="icon-png"
              src="assets/icons/Android_App_Icon_2026.png"
              alt="whatsapp_android-app-icon"
            />
            : +49 152 335 27 042
            <div class="pointer-area">
              <img
                class="pointer-icon"
                src="assets/icons/click-me.png"
                alt="click-me pointer hand icon"
              />
            </div>
          </a>

          <a href="mailto:panda@spieledschungel.de" class="click-me-btn mail"
            >&#x1F4E7;Email: Panda@SpieleDschungel.de
            <img
              class="pointer-icon"
              src="assets/icons/click-me.png"
              alt="click-me pointer hand icon"
            />
          </a>
        </div>
      </section>