.short-info {
  max-width: 400px;
}

.short-info .location-text {
  color: black;
}

.elternstimmen-box {
  color: #9c009b;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 28px;
  background-color: white;
  border: 1px solid #9c009b;
  text-align: center;
}

.elternstimmen-box:hover {
    color: rgba(156, 0, 155, 0.4)
}

.elternstimmen-box .to-review-text {
  // color: green;
  font-weight: 400;
}