<div class="footer--content">
  <section class="main-section">
    <section class="company-data-section">
      <h4>Maries SpieleDschungel</h4>
      <div class="company-subtitle">
        <span>Säuglings- und Kinderbetreuung</span>
      </div>
      <span>Moerser Straße 84</span>
      <span>40667 Meerbusch-Büderich</span>
      <span class="location-info">nahe Düsseldorf Lörick & Heerdt (Stadtbezirk 4) und Neuss</span>
      <span>Telefon: 0152 335 27 042</span>
      <a class="hover" href="mailto:panda@spieledschungel.de">Email: Panda@SpieleDschungel.de</a>
    </section>
    <section class="links">
      <div class="link-buttons">
        <img routerLink="/flipbook" src="assets/images/link-buch.png" alt="link-buch">
        <img routerLink="/pages/hoer-reise" src="assets/images/link-hoerreise.png" alt="link-hoerreise">
      </div>
      <div class="link-button">

      </div>
    </section>
  </section>
  <div class="privacy">
    <span class="imprint hover" routerLink="/pages/impressum">Impressum</span>
    <span class="dataProtection hover" routerLink="/pages/datenschutzerklaerung">Datenschutz</span>
  </div>
</div>