<div class="footer--content">
    <section class="main-section">
        <section class="company-data-section">
            <h4>Maries SpieleDschungel</h4>
            <span>Säuglings- und Kinderbetreuung</span>
            <span>Moerser Straße 84</span>
            <span>40667 Meerbusch</span>
            <span>Telefon: 0152 335 27 042</span>
            <a class="hover" href="mailto:panda@spieledschungel.de">Email: Panda@SpieleDschungel.de</a>
        </section>
        <section class="social-media-section">
            <a href="https://www.facebook.com/profile.php?id=61578081136108&locale=de_DE" target="_blank"
                class="social-media--img-wrapper instagram">
                <span class="label">Facebook</span>
                <img src="assets/icons/social-media/facebook-logo.png" alt="facebook-logo">
            </a>
            <a href="https://www.instagram.com/kindertagespflege.meerbusch/" class="social-media--img-wrapper facebook">
                <span class="label">Instagram</span>
                <img src="assets/icons/social-media/instagram-logo.png" alt="instagram-logo">
            </a>
        </section>
    </section>
    <div class="privacy">
        <span class="imprint hover" routerLink="/impressum">Impressum</span>
        <span class="dataProtection hover" routerLink="/datenschutzerklaerung">Datenschutz</span>
    </div>
</div>