<section class="modal--content">
  @if (viewService.showIntro) {
    <div class="welcome-image">
      <a (click)="viewService.closeModal()" class="click-overlay left"></a>
      <a
        href="https://heyzine.com/flip-book/e7c0d4e0be.html"
        target="_blank"
        class="click-overlay middle"
      ></a>
      <a (click)="goToAudioStory()" class="click-overlay right"></a>
      <img class="content-image" src="assets/images/welcome-image.jpeg" alt="welcome-image" />
    </div>
  }
  <!-- <div class="floating-buttons music">
    <app-media-controls [modalVariant]="true"></app-media-controls>
  </div> -->
  <!-- <div class="modal--icon--variant floating-buttons close">
    <span (click)="viewService.closeModal()" class="button close-btn material-icons-round"
      >close</span
    >
  </div> -->
  <!-- <iframe
      allowfullscreen="allowfullscreen"
      allow="clipboard-write"
      scrolling="no"
      class="fp-iframe"
      src="https://heyzine.com/flip-book/97cba22a31.html"
      style="border: 1px solid lightgray; width: 100%; height: 100%"
    >
    </iframe> -->
</section>
