.modal--content {
    display: flex;
    height: 100%;
}


.iframe-div {
    position: relative;
    width: 100%;
}

.modal--btn {
    color: green;
    border: 2px solid;
    border-radius: 25px;
    background-color: white
}

