:host {
    height: 100%;
}

.modal--content {
    display: flex;
    height: 100%;
}


.iframe-div {
    position: relative;
    width: 100%;
}

.floating-buttons {
    top: 4px;
}

.floating-buttons.music {
    left: 4px;
}

.floating-buttons.close {
    right: 4px;
}