@use 'variables' as *;
@import '../styles/fonts.scss';

body {
    font-family: 'Oswald';
    margin: auto;
    overflow-y: scroll;
}

.content {
    margin: 0 auto;
    max-width: 1180px;
}

.hero {
    height: 280px
}

.test {
    height: 100vh;
}

@media (min-width: 768px) {
    // medium devices

}

@media (min-width: 1024px) {
    // large devices

}
