@use 'variables' as *;
@import '../styles/fonts.scss';

body {
    font-family: 'Oswald';
    margin: auto;
    overflow-y: scroll;
}

.content {
    margin: 0 auto;
    max-width: 1180px;
    border: 1px solid grey;
}

.hero {
    height: 280px
}
 