@use 'variables' as *;
@import '../styles/fonts.scss';

body {
    font-family: 'Oswald';
    margin: auto;
}

.content {
    margin: 0 auto;
    max-width: 1180px;
    background-color: grey;
}

.hero {
    height: 300px
}
 