// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'variables' as *;
@import '../styles/fonts.scss';
@import 'material-icons/iconfont/material-icons.css';

// basic styles

html,
body {
    height: 100%;
}

body {
    font-family:
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        Arial,
        sans-serif;
    margin: auto;
    position: relative;
}


a {
    text-decoration: unset;
    color: unset;

    &:hover {
        color: #98d36d;
    }
}

app-root {
    height: 100%;
}

app-navigation {
    display: contents;
}

// 

.hero {
    min-height: 60vh;
    // background-color: red;
}

.close-button {
    font-size: 42px;
}


.modal-overlay {
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    box-sizing: border-box;
    backdrop-filter: blur(1px);
    /* Blur-Effekt */
    -webkit-backdrop-filter: blur(1px);
    /* für Safari */
}

.modal--top-content {
    display: flex;
}

.modal--nav-bar--right {
    user-select: none;
    max-height: 100%;
    display: flex;
    gap: 4px;

    &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
    }
}

.modal--footer {
    color: rgba(0, 0, 0, 0.6);
    text-align: end;
}

.modal--footer span:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.hide-modal {
    display: none;
}

.full-screen-content {
    min-height: 100vh;
    display: flex;

    background-image: url('/assets/images/bg-image.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* optional */
    background-repeat: no-repeat;
    /* optional */
}

.white-space {
    display: none;
}

.media-controls {
    display: flex;

    .volume-toggle {
        cursor: pointer,
    }
}

.disable-scroll {
    overflow-y: hidden;
}

.website-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 950px;
}

.imprint:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.hero .img-container {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        max-height: 80%;
    }
}

.outlet-content {
    padding: 20px;
    background-color: white;
}

.control-border {
    display: flex;
    border: 2px solid grey;
    border-radius: 50px;
    gap: inherit;
    padding: 0px 4px;

}

h1 {
    font-weight: 100;
    letter-spacing: 2pt;
    margin: unset;
}

@media (min-width: 920px) {

    // medium devices
    .white-space {
        display: block;
    }

    .white-space img {
        width: 100%;
        position: sticky;
        top: 0px;
    }

    .panda:hover {
        filter: drop-shadow(4px 4px 6px rgba(255, 255, 255, 0.8));
    }
}

@media (min-width: 1024px) {
    // large devices

}