.book-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.book-flip-wrapper {
    user-select: none;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}

.book {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.book-navigation-medium-screen {
    display: none;
    width: 48px;
}

.control-btn {
    font-size: 36px;
    background-color: unset;
    border: unset;
    display: none;
    cursor: pointer;
    user-select: none;
    width: 32px;
    height: 100%;
    margin: 0px 8px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 12px 0px;
}

.page-content {
    position: relative;
}

.corner-triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 80px solid rgba(0, 128, 0, 0.1);
  border-left: 80px solid transparent;
  animation: pulseAnimation 2500ms forwards;

}

// corner triangle pulse animation

@keyframes pulseAnimation {
    0% { border-top: 80px solid rgba(0, 0, 0, 0) };
    20% { border-top: 80px solid rgba(250, 138, 19, 0.8) };
    40% { border-top: 80px solid rgba(250, 138, 19, 0.4) };
    60% { border-top: 80px solid rgba(250, 138, 19, 0.8) };
    80% { border-top: 80px solid rgba(250, 138, 19,  0.4) };
    100% { border-top: 80px solid rgba(250, 138, 19, 0.8) };

}


.bottom-page-control {
    height: 24px;
    display: flex;
}

.bottom-page-control button {
    display: flex; 

}

.flip-page-hint {
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    font-size: 12px;
    z-index: 12;
}



.page img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.link {
    cursor: pointer;
}

// Flip Hint

.flip-hint {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 12px;
    top: 12px;
    right: 0px;
    transform: translateX(-50%);
    font-size: 18px;
    animation: hint 1.5s forwards;
    pointer-events: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.6);
}

@keyframes hint {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-60%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

// Flip Hint End


@media (min-width: 768px) {
    // medium devices

    .book-navigation-medium-screen {
        display: block;
    }

    .control-btn {
        display: flex;
    }

}