.media-controls {
    position: absolute;
    top: 0px;
    left: 4px;
    transform: translateY(50%);
    width: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.button {
    text-align: center;
    font-size: 32px;
    max-width: 32px;
}

.control-icon {
    max-height: 24px;
    fill: green;
    stroke-color: white;
}

.controls--replay--pause {
    display: flex;
    gap: 8px;
}

.controls--replay--pause .button:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7)
}

.toggle-img {
    height: 25px;
}