.media-controls {
    width: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}
  

.controls--replay--pause {
    display: flex;
    gap: 8px;
}

.controls--replay--pause .button:hover {
    cursor: pointer;
}

.toggle-img {
    height: 25px;
}


@media (min-width: 768px) {
    // medium devices
    .controls--replay--pause {
    }
}