<h3>Wenn es sich bis hier richtig anfühlt</h3>
<div class="img-container">
    <img class="title-img" src="assets/images/bird-postcard.png" alt="Vogel mit Postkarte">
</div>
<p>Wenn ihr spürt, dass der SpieleDschungel ein passender Ort für euer Kind sein könnte, freue ich mich über eine erste
    Nachricht.</p>
<span class="contact-me">So erreicht ihr mich:</span>
<div class="contact-data">
    <div class="contact-sms data">
        <label class="sms label">&#x1F4AC;SMS:</label>
        <span>0152 335 27 042</span>
    </div>
    <div class="contact-mail data">
        <label class="mail label">&#x1F4E7;Email:</label>
        <a href="mailto:panda@spieledschungel.de">Panda@SpieleDschungel.de</a>
    </div>
</div>

<p>In einem ersten Kennenlernen schauen wir ganz ohne Eile, ob der SpieleDschungel passend ist. Oft ist ein entspanntes
    Telefonat ein schöner Weg, um im eigenen Tempo Fragen zu stellen. Sollte euch das Telefonieren jedoch schwerfallen
    oder euch ein anderer Weg des ersten Austauschs lieber sein, finden wir gemeinsam eine ganz individuelle Lösung, die
    sich für alle gut und sicher anfühlt.</p>
<p>Wenn wir gemeinsam zu dem Ergebnis kommen, dass es harmoniert, lade ich euch herzlich ein, den SpieleDschungel
    persönlich zu besuchen. Gerne stelle ich für euch auch den Kontakt zu aktuellen oder ehemaligen Eltern her. So könnt
    ihr deren Erfahrungen ganz direkt hören, denn der Klang einer Stimme sagt oft mehr als viele geschriebene Worte.
    Vertrauen wächst Schritt für Schritt und im SpieleDschungel darf alles in Ruhe entstehen.</p>
