.meerbusch-link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.click-here-btn {
    display: flex;
    padding: 4px 12px;
    border: 2px solid grey;
    border-radius: 25px;
    font-weight: 600;

}

.click-here-btn:hover {
    cursor: pointer;
    border-color: #005caa;

    .page-link {
        color: #005caa;
    }
}

.meerbusch-logo {
    max-height: 25px;
}