<h3 id="für-sie-vielleicht-wichtig-zu-wissen">Für Sie vielleicht wichtig zu wissen:</h3>
<p>Was ich für meine Herzens­tätigkeit benötige,
    um diese offiziell ausüben zu dürfen,
    können Sie auf der Seite des Jugendamtes Meerbusch
    transparent nachlesen.</p>
<p>Dort finden Sie auch Ansprechpartner
    für Ihre individuelle Beitragskostenberechnung.</p>
<p><strong>Fragen rund um die Kindertagespflege</strong></p>
<p>Wenn Sie möchten, können Sie sich hier in Ruhe weiter informieren:</p>
<p>Was ist Kindertagespflege?
    Wer darf Kindertagespflege anbieten?
    Wie wird Kindertagespflege finanziert und wie erhält man einen öffentlichen Zuschuss?
    Wer gibt Auskunft?
    Kindertagespflegepersonen in Meerbusch</p>
<p>Auf der Seite des Jugendamtes können Sie die einzelnen Themen in Ruhe öffnen.</p>
<div class="meerbusch-link">
    <img class="meerbusch-logo"
        src="https://meerbusch.de/_assets/4ac816b9270aa5dd6ce2a7d23233ed1f/img/logo-header-standard.svg"
        alt="stadt-meerbusch-logo">
        <a class="click-me-btn" target="_blank"
            href="https://meerbusch.de/leben-in-meerbusch/jugend-und-familie/kindertagespflege">Hier
            gelangen Sie direkt zur Seite des Jugendamtes Meerbusch
                <img class="pointer-icon" src="assets/icons/click-me.png" alt="click-me pointer hand icon">
        </a>
</div>