.meerbusch-link {
    display: flex;
    align-items: center;
    gap: 24px;
}


.click-here-btn:hover {
    cursor: pointer;
    border-color: #005caa;

    .page-link {
        color: #005caa;
    }
}

.meerbusch-logo {
    max-height: 25px;
}