<h2>Impressum</h2>

<p>Angaben gemäß § 5 TMG / Verantwort für den Inhalt nach § Abs. 2 RStV</p>

<div class="person">
    <span>Marie Christine Bode</span>
    <span>S&auml;uglings- und Kinderbetreuung</span>
    <span>&quot;Maries Spieledschungel&quot;</span><br>
    <span>Moerser Stra&szlig;e 84</span>
    <span>40667 Meerbusch</span>
</div>


<h3>Kontakt</h3>
<p>Telefon: 0152 335 27 042<br />
    E-Mail: Panda@SpieleDschungel.de</p>

<strong>Aufsichtsbehörde</strong><br>
<br>
<span>Jugendamt Meerbusch</span><br>
<span>Bommershöverweg 2-8</span><br>
<span>40670 Meerbusch</span><br>
<br>
<a href="https://meerbusch.de/leben-in-meerbusch/jugend-und-familie/allgemeiner-sozialer-dienst-des-jugendamtes">Webseite:
    Allgemeiner Sozialer Dienst des Jugendamtes</a>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>