<h2>Impressum</h2>

Angaben gemäß § 5 TMG / Verantwort für den Inhalt nach § Abs. 2 RStV
<p>Marie Christine Bode<br />
S&auml;uglings- und Kinderbetreuung &quot;Maries Spieledschungel&quot;<br />
Moerser Stra&szlig;e 84<br />
40667 Meerbusch</p>

<h3>Kontakt</h3>
<p>Telefon: 0152 33527042<br />
E-Mail: maries-spieledschungel@gmx.de</p>

<strong>Aufsichtsbehörde</strong>
<span>Jugendamt Meerbusch</span>
<span>Bommershöverweg 2-8</span>
<span>40670 Meerbusch</span>
<a href="https://meerbusch.de/leben-in-meerbusch/jugend-und-familie/allgemeiner-sozialer-dienst-des-jugendamtes">Webseite: Allgemeiner Sozialer Dienst des Jugendamtes</a>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
