h2 {
    margin-bottom: unset;
}

p {
    margin: 24px 0px;
}

.end-hint {
    font-size: 14px;
}

.title {
    font-size: 20px;
    display: flex;
    gap: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.chapters {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow-y: scroll;
}


.chapter-select {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 80%;
}


.chapter-select img {
    width: 100%;
}

.chapter-select-overlay {
    position: absolute;
    inset: 0px;
}

.chapter-select-overlay:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.chapters .active {
    background-color: rgba(255, 255, 255, 0.4);
}