<h3>Einblicke in den Alltag im SpieleDschungel</h3>
<p>„Komm, wir gehen zusammen.“</p>
<p>„Ich bau hier!“</p>
<p>„Hier lesen!“</p>
<p>Im SpieleDschungel entstehen Momente aus den Bedürfnissen der Dschungeltiere. Mal laut, mal ganz still. Mal drinnen, mal draußen. Mal ganz nah und manchmal mit etwas Abstand, so wie es gerade gut tut.</p>
<p>Ich nehme wahr, was jedes Dschungeltier in diesem Moment braucht, und begleite es in seinem eigenen Tempo. Es wird gebaut, zugehört, gelacht und entdeckt.</p>
<p>Und mittendrin wächst das, was trägt: Vertrauen, Nähe und ein gemeinsames Wir.</p>

<div class="hinweis-bilder">
    Bilder sind aktuell nur bei facebook und instagram online.
    Später wird es auch hier Bilder geben. 
</div>