<h3>Hier im SpieleDschungel begleitet euch Marie</h3>

<div class="img-container">
    <img src="/assets/images/marie-leopard-affe.jpg" alt="marie-mit-leopard-und-affe">
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <strong>Meine kleine Welt</strong>
        </mat-expansion-panel-header>
        <p>Meine kleine Welt ist geprägt von echter Beziehung, von ehrlichen Gesprächen und von einer Zeit, die einfach
            fließen darf.</p>
        <p>Ich glaube fest daran, dass Kinder vor allem Menschen brauchen, die wirklich da sind. Menschen, die
            aufmerksam hinschauen, die tief zuhören und die sich Zeit nehmen.</p>
        <p>Genau diese Präsenz ist das Fundament meiner Arbeit und meines Lebens.</p>
        <p>Ich bin gelernte Kinderpflegerin mit einer Zusatzqualifizierung für Kindertagespflegepersonen. Seit über 15
            Jahren lebe ich diesen Herzensjob mit großer Dankbarkeit.</p>
        <p>Er ist für mich weit mehr als nur Arbeit, er ist ein Weg, der tief zu mir passt.</p>
        <p>Ich bilde mich immer wieder fort, am liebsten online von zu Hause aus. An meinem Wohlfühlort kann ich auf
            meinem geliebten Sitzball mitschwingen und muss nicht still sitzen bleiben. Während ich mein Sprudelwasser
            trinke, mache ich mir in meinem eigenen Tempo wichtige Notizen.</p>
        <p>Meinen Erste-Hilfe-Kurs am Kind besuche ich selbstverständlich regelmäßig direkt im Präsenzunterricht vor
            Ort.</p>
        <p>Ich selbst bin schüchtern und lebe eher introvertiert. In meiner Tätigkeit als Tagesmutter sehe ich genau das
            als eine meiner größten Stärken.</p>
        <p>Es ermöglicht mir, Stimmungen sehr bewusst wahrzunehmen und auf die leisen Zwischentöne zu achten.</p>
        <p>So begegne ich allen im SpieleDschungel: ruhig, aufmerksam und mit Feingespür.</p>
        <p>Ein offenes Herz für die Kinder und ein offenes Ohr für euch als Eltern gehören für mich untrennbar zusammen.
        </p>
        <p>In meiner Freizeit suche ich das echte Miteinander ohne den Druck von Zwangsterminen bei Feierlichkeiten. Ich
            liebe Brettspiele oder eine Runde Dart, aber nicht um unbedingt das Bullauge zu treffen, sondern um das
            gemeinsame Erleben zu genießen.</p>
        <p>Es geht mir um das Lachen, das Zusammensitzen und die Gespräche mit Menschen, die erzählen, wie sie sich
            wirklich fühlen.</p>
        <p>Gerne spiele ich auch Federball, wobei es mir nicht um Schnelligkeit geht. Ich genieße einfach die Bewegung
            und die gemeinsame, oft fröhliche Zeit an der frischen Luft oder in den Wintermonaten auch in der
            Badmintonhalle.</p>
        <p>Ich tanze leidenschaftlich gerne Zumba, weil die Bewegung meinen Vagusnerv stimuliert und mich fröhlich
            stimmt.</p>
        <p>Und manchmal genieße ich die Schnelligkeit bei einem Autorennspiel als kleinen Kontrast zu meiner sonst so
            ruhigen Welt.</p>
        <p>Ich bin ein sehr reflektierter Mensch. Jeden Tag auf meiner Heimreise oder beim Abendessen lasse ich das
            Erlebte noch einmal in Ruhe an mir vorbeiziehen.</p>
        <p>Ich spüre nach, wie der Tag für jedes Kind war.</p>
        <p>Wenn mir dabei kleine Details auffallen, die wichtig werden könnten, teile ich diese auf Wunsch gerne direkt
            den Eltern mit.</p>
        <p>So sind wir immer im engen, ehrlichen Austausch.</p>
        <p>Der SpieleDschungel ist meine persönliche kleine Wohlfühloase, die sich für mich einfach jeden Tag richtig
            anfühlt.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <strong>Mein Feingespür – Ein Geschenk für viele Momente</strong>
        </mat-expansion-panel-header>
        <p>Ich nehme vieles schon sehr früh wahr, Stimmungen, Reize oder auch feine Veränderungen im Körper.</p>
        <p>Im Umgang mit kleinen Kindern ist meine Wahrnehmung besonders klar, denn sie teilen ihre Gefühle und
            Bedürfnisse so direkt und ehrlich mit.</p>
        <p>Ich lese in ihrem Blick, spüre ihren Wunsch nach Nähe oder ihren Rückzug und verstehe ihre Sprache der
            Bewegung.</p>
        <p>Genauso nehme ich mir bei Bedarf bewusst die Zeit für mehr Nähe, die das Kind dann vielleicht benötigt, um
            wieder sanft durch den Tag zu finden.</p>
        <p>Um mich selbst ganz wohlzufühlen und euren Kindern auf Augenhöhe begegnen zu können, trage ich am liebsten
            meine weichen Hosen. So kann ich mich ganz gemütlich mit ihnen auf den Boden setzen oder mit ihnen über die
            Matten krabbeln.</p>
        <p>Ich spüre, wie wichtig diese gemeinsame Bewegung auf gleicher Ebene für viele Kinder ist.</p>
        <p>Es schenkt ihnen Sicherheit und ein tiefes Vertrauen, wenn ich ganz bei ihnen am Boden bin.</p>
        <p>Auch bei der Kleidung der Kinder achte ich darauf, dass sie weich und bequem ist. Nichts soll kratzen oder
            einengen, damit eine freie und gute Bewegung in jedem Moment möglich ist.</p>
        <p>Dieses Bewusstsein für die richtige Umgebung begleitet uns auch nach draußen. Wir nutzen gerne die frühen
            Morgenstunden, um in die Natur zu gehen.</p>
        <p>Dann, wenn die Sonnenstrahlen noch ganz sanft und nicht zu intensiv sind, der Spielplatz noch leer ist und
            wir alles ohne Weiteres frei für uns verwenden können.</p>
        <p>In dieser Zeit können wir die Natur noch in ihrem ganz eigenen Klang genießen, ohne viele Nebengeräusche von
            außen. Diese Stille am Morgen schenkt uns einen friedlichen Raum für Entdeckungen.</p>
        <p>Auch beim Wickeln ist mir wichtig, dass es ein ruhiger, geschützter Moment bleibt. Ich verwende warmes
            Wasser, ein wenig Öl und weiche, eingetauchte Tücher, damit alles in Ruhe geschehen darf.</p>
        <p>Ich spüre dabei genau hin, ob es sich für das Kind angenehm anfühlt oder ob wir noch einen Moment Zeit
            brauchen.</p>
        <p>Über die Jahre habe ich gelernt, wie viel Wärme und Stille verändern können.</p>
        <p>So gestalte ich auch unsere Essenssituation bewusst ruhig.</p>
        <p>Nach vielen Erlebnissen braucht es manchmal einfach weniger, weniger Geräusche, mehr Freiraum und einen
            klaren, sanften Rhythmus.</p>
        <p>Besonders beim Übergang in den Schlaf dürfen die Kinder bei mir jeden Tag erneut entscheiden, ob sie lieber
            in ihrem Bodenbett oder auf einer Wippe zur Ruhe kommen möchten.</p>
        <p>In diesem Augenblick tritt eine stille Gewissheit ein: Ich bin da. Ihr dürft loslassen.</p>
        <p>Und dann wechseln sie sanft und geborgen in den Schlaf.</p>
    </mat-expansion-panel>
</mat-accordion>

<div>
<h3 id="atmosphäre-im-alltag">Atmosphäre im Alltag</h3>
<p>In unserem Alltag gibt es fröhliche Momente, gemeinsames Lachen und lebendiges Spiel. Gleichzeitig achte ich bewusst darauf, dass eine ruhige und angenehme Atmosphäre erhalten bleibt.</p>
<p>Kinder orientieren sich dabei ganz natürlich an mir. Oft entstehen daraus ganz von selbst leise, ruhige Momente, manchmal wird sogar geflüstert, einfach aus Freude am gemeinsamen Tun.</p>
</div>
