.intro-text {
    margin-bottom: 40px;
}

.stories-accordion {
    user-select: none;
}

.eagle-title {
    font-weight: 600;
}
    
ul {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
}

ul .title {
    font-weight: 600;
    margin-right: 4px;
}


.img-container {
    max-height: 250px;
    display: flex;
    justify-content: center;
}

.title-img {
    object-fit: contain;
    max-width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    // medium devices

}