<div class="nav-menu">
    <span class="media-controls">
        <app-media-controls></app-media-controls>
    </span>
    <div (click)="toggleNav()" translate="no" class="nav-toggle">MENÜ</div>
    <div class="nav-list" [class.is-open]="navIsOpen">
        <!-- MediaControls -->

        <div class="nav-entry">
        <!-- <div (click)="handleNavClick('subMenu')" appSubMenu class="nav-entry"> -->
            <span appSubMenu>Räumlichkeiten</span>
            <div class="sub-menu"></div>
        </div>
        <div (click)="handleNavClick('meine-welt')" class="nav-entry">
            <span>Über mich</span>
            <div class="sub-menu">
                <span>Meine kleine Welt</span>
                <span>Am Ende des Tages</span>
                <span>In Ruhe miteinander sprechen</span>
            </div>
        </div>
        <div (click)="handleNavClick('kennenlernen')" class="nav-entry">
            <span>Kennenlernen</span>
        </div>
        <div (click)="handleNavClick('tag-im-spieledschungel')" class="nav-entry">
            <span>Tag im Spieledschungel</span>
            <div class="sub-menu"></div>
        </div>
        <div (click)="handleNavClick('bindung-und-ankommen')" class="nav-entry">
            <span>Bindung und Ankommen</span>
            <div class="sub-menu"></div>
        </div>
        <div (click)="handleNavClick('erholungspausen')" class="nav-entry">
            <span>Erholungspausen</span>
        </div>
        <div (click)="handleNavClick('openModal')" class="nav-entry">
            <span class="book-txt">
                <span class="material-icons">menu_book</span>
                <span>Buch</span>
            </span>
        </div>
    </div>
</div>