@use 'variables' as *;
@import 'material-icons/iconfont/material-icons.css';

* {
  font-weight: 600;
}

.nav-menu {
  display: flex;
  justify-content: center;
  height: 90px;
  font-size: 14px;
  color: #9c009b;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  user-select: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  margin-bottom: 8px;
  border-bottom: 3px solid white;
  box-sizing: border-box;
}

.nav-toggle {
  display: flex;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  background-color: $primary-color;
}


.nav-list {
  margin-top: 60px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  width: 100%;
  padding: 0px 32px;
  z-index: 30;
  box-sizing: border-box;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge (alt) */
  -ms-overflow-style: none;
}

.nav-row {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.upper-nav {
  border-bottom: 1px solid #9c009b;
}

.nav-entries {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: unset;
}

.nav-entry {
  cursor: pointer;
  flex-direction: column;
  color: white;
  margin-bottom: 8px;
  margin-bottom: 8px;
  background-color: #9c009b;
  border-radius: 50px;
  padding: 4px 12px;
  
}

.nav-entry:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-entry.inverted-style {
  background-color: white;
  color: #9c009b;
  // border: 1px solid #9c009b;
  box-sizing: border-box;
}

.nav-entry.inverted-style:hover {
  color: rgba(156, 0, 155, 0.4);
}

.book-txt {
  display: flex;
  align-items: center;
  gap: 4px;
}

.small-screen--controls {
  position: absolute;
  left: 4px;
}

.medium-screen--controls {
  display: none;
}

@media (min-width: 768px) {
  .nav-menu {
    position: sticky;
  }

  // medium devices
  .nav-entries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: unset;
  }

  .sub-menu {
    margin-top: 12px;
    position: absolute;
    top: 30px;
    z-index: 100;
    width: fit-content;
    height: fit-content;
  }

  .sub-menu > li {
    margin-left: 12px;
  }

  .nav-entry:not(:last-child) {
    border-bottom: none;
    flex-direction: row;
  }

  .nav-toggle {
    display: none;
  }

  .active-nav {
    color: rgb(247, 194, 241);

    &:hover {
      color: unset;
    }
  }

  .medium-screen--controls {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

@media (min-width: 1024px) {
  // large devices
}
