@use 'variables' as *;

* {
    font-weight: 600;
    font-family: 'Source Sans 3';
    color: rgba(0, 0, 0, 0.6);
    background-color: $nav-color;
}

.mobile-nav-menu {
    user-select: none;
    position:relative;
}

.menu-button {
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.nav-list {
    position: absolute;
    width: 100%;
    padding: 0px 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
    box-sizing: border-box;
}

.nav-entry {
    padding: 16px 0px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}