<div class="nav-menu">
    <div (click)="toggleNav()" class="nav-toggle">MENÜ</div>
    <div class="nav-list" [class.is-open]="navIsOpen">
        <div class="nav-entry">
            <span routerLink="/welcome">WILLKOMMEN</span>
        </div>
        <div class="nav-entry">
            <span routerLink="/about">ÜBER UNS</span>
        </div>
        <div class="nav-entry">
            <span routerLink="/facility">DIE EINRICHTUNG</span>
        </div>
        <div class="nav-entry">
            <span routerLink="food">VERPFLEGUNG</span>
        </div>
        <div class="nav-entry">
            <span routerLink="registration">ANMELDUNG</span>
        </div>
        <div class="nav-entry">
            <span routerLink="testimonials">REFERENZEN</span>
        </div>
        <div class="nav-entry">
            <span routerLink="contact">KONTAKT</span>
        </div>
        <div class="nav-entry">
            <span routerLink="imprint">IMPRESSUM</span>
        </div>
    </div>
</div>