.welcome-image-wrapper {
    display: flex;
    justify-content: center;
}

.welcome-image-content {
  position: relative;
}

.welcome-image-content img {
  width: 100%;
}

.welcome-image-content .click-overlay {
  cursor: pointer;
  position: absolute;
  bottom: 19.3%;
  height: 17%;
  width: 30.5%;
  border-radius: 10%;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.welcome-image-content .click-overlay.left {
  left: 3%;
}

.welcome-image-content .click-overlay.middle {
  left: 36%;
}

.welcome-image-content .click-overlay.right {
  left: 65%;
  width: 32.5%
}
