 <div class="welcome-image">
      <div routerLink="pages/hero" class="click-overlay left"></div>
      <!-- <a
        href="https://heyzine.com/flip-book/e7c0d4e0be.html"
        target="_blank"
        class="click-overlay middle"
      ></a> -->
      <div
        routerLink="pages/flipbook"
        class="click-overlay middle"
      ></div>
      <div (click)="goToAudioStory()" class="click-overlay right"></div>
      <img class="content-image" src="assets/images/welcome-image.jpeg" alt="welcome-image" />
    </div>
