<div class="book-wrapper">
  <div class="book-flip-wrapper">
    <div (click)="flipPrevPage()" class="book-navigation-medium-screen back">
      <button [disabled]="(pageState === 'start')" class="material-icons-round control-btn">keyboard_arrow_left</button>
    </div>
    <div #book class="book">
      @for (page of bookService.parentsBookImages; let idx = $index; track $index) {
      <div class="page">
        <div class="page-content">
          <img src="{{ page.imagePath }}" alt="{{ page.altText }}">
          @if(!isLastPage(idx + 1) && (isPortrait() || (!isPortrait() && pageIndexIsEven(idx)))) {
            <div class="corner-triangle"></div>
          }
        </div>
      </div>
      }
    </div>
    <div class="book-navigation-medium-screen forward">
      <button [disabled]="pageState === 'end'" (click)="flipNextPage()"
        class="material-icons-round control-btn">keyboard_arrow_right</button>

    </div>
  </div>

  <span class="bottom-page-control">
    @if(pageFlipReady()) {
    <button [disabled]="pageState === 'start'" (click)="turnToPage(0)"
      class="material-icons-round control-btn">keyboard_double_arrow_left</button>
    <button [disabled]="pageState === 'start'" (click)="flipPrevPage()"
      class="material-icons-round control-btn">keyboard_arrow_left</button>

    <span class="page-count">Seite {{ currentPage() }} von {{ pageCount() }}</span>

    <button [disabled]="pageState === 'end'" (click)="flipNextPage()"
      class="material-icons-round control-btn">keyboard_arrow_right</button>
    <button [disabled]="pageState === 'end'" (click)="turnToPage(this.pageCount()-1)"
      class="material-icons-round control-btn">keyboard_double_arrow_right</button>

    }
  </span>
</div>