<div class="book-wrapper">
  <div (click)="flipPrevPage()" class="book-navigation-medium-screen back">
    <div class="navigation-arrow control-btn">
      <img src="assets/icons/arrow_orange_left.png" alt="arrow-orange-left">
      <div class="page-number" #leftArrow></div>
    </div>
  </div>
  <!-- <div class="book-flip-wrapper" #bookWrapper> -->

  <div class="book" #book>
    <div class="page">
      <div class="book--intro page-content">
        <div class="book--intro-content">
          <p>Ein sanftes Willkommen
            im SpieleDschungel,
            wo kleine Schritte viel Raum haben und Vertrauen in Ruhe wachsen darf.</p>
          <p>In meinem SpieleDschungel-Buch bekommt ihr einen ersten Einblick in unseren Alltag.</p>
          <p>Viele Grüße aus dem
            SpieleDschungel<br>🐒🦒🐘🐼</p>
          <p>Marie 🐼</p>
          <p>Hier könnt ihr durch mein SpieleDschungel-Buch blättern<br>
            Oder ihr schließt das Fenster oben links und gelangt direkt zur Webseite.</p>
        </div>
      </div>
    </div>
    @for (page of bookService.parentsBookImages; let idx = $index; track $index) {
    <div class="page">
      <div class="page-content">
        <img src="{{ page.imagePath }}" alt="{{ page.altText }}">
      </div>
    </div>
    }
  </div>
  <!-- </div> -->
  <div (click)="flipNextPage()" class="book-navigation-medium-screen forward">
    <div class="navigation-arrow control-btn">
      <img src="assets/icons/arrow_orange_right.png" alt="arrow-orange-right">
      <div class="page-number" #rightArrow></div>
    </div>
  </div>
</div>