<div class="book-wrapper">
  <!-- page control -->
  <div class="book-header">

  </div>
  <span class="page-controls">
    <!-- <button [disabled]="pageState === 'start'" (click)="turnToPage(0)"
      class="material-icons-round control-btn">keyboard_double_arrow_left</button> -->
    <button [disabled]="pageState === 'start'" (click)="flipPrevPage()"
      class="material-icons-round control-btn">keyboard_arrow_left</button>

  <span class="page-count">Seite {{ currentPage() }} von {{ pageCount() -1 }}</span>

    <button [disabled]="pageState === 'end'" (click)="flipNextPage()"
      class="material-icons-round control-btn">keyboard_arrow_right</button>

    <!-- <button [disabled]="pageState === 'end'" (click)="turnToPage(this.pageCount()-1)"
      class="material-icons-round control-btn">keyboard_double_arrow_right</button> -->
  </span>

  <div class="book-flip-wrapper" #bookWrapper>
    <div (click)="flipPrevPage()" class="book-navigation-medium-screen back">
      <button [disabled]="(pageState === 'start')" class="material-icons-round control-btn">keyboard_arrow_left</button>
    </div>
    <div class="book" #book>
      @for (page of bookService.parentsBookImages; let idx = $index; track $index) {
      <div class="page">
        <div class="page-content">
          <img src="{{ page.imagePath }}" alt="{{ page.altText }}">
          @if(!isLastPage(idx) && (isPortrait() || (!isPortrait() && pageIndexIsEven(idx)))) {
          <div class="corner-triangle"></div>
          }
        </div>
      </div>
      }
    </div>
    <div class="book-navigation-medium-screen forward">
      <button [disabled]="pageState === 'end'" (click)="flipNextPage()"
        class="material-icons-round control-btn">keyboard_arrow_right</button>

    </div>
  </div>
</div>